<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Unsplash Project</title>
</head>
<body>
    <div class="search">
        <h1>Picture Gallery Application</h1>
        <div class="form-outer">
            <form action="/" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" id="search" placeholder="Search for images">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>