

form {
    background-color: #ee2d2d;
    padding: 20px 575px;
}

input {
    display: inline;
    width: 80%;
    margin: auto;
}

p {
    line-height: 2 !important;
    display: block;
}

img {
    display: block;
    border: solid 2px;
    border-radius: 10px;
}

.search {
    background-color: #ee2d2d;
    font-family: sans-serif;
    color: white;
}

.grid {
    background-color: #ee2d2d;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 !important;
}
.image-box {
    display: inline-block;
    margin: 20px 0;
    border: solid 1px;
    border-radius: 10px;
    padding: 2% 10%;
    background-color: yellow;
}
